@using Demo.Models.Common
@using Demo.Models.Settings
@model IEnumerable<Store>


<h2>Demo</h2>

@if (TempData["Error"] != null) {
<div class="alert alert-warning alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  @TempData["Error"]
</div>
}

<div class="well well-sm">
  We have @ViewBag.CountStore store(s) with us!
</div>

<div>
  @foreach (var store in Model) {

    <h3>@(store.Settings["th"]?.StoreDisplayName)</h3>

    foreach (var setting in store.Settings) {
      <span><code>@setting.LanguageCode</code> @setting.CompanyName</span>
    }

    <text>
      This company is now
      <span class="text-success">@(store.IsActive ? "active" : "inactive")</span>.

      <form method="post" style="margin-top: 0.5rem;">
        <button formaction="~/Home/ActivateStore/@store.Id"
                type="submit" class="btn btn-success btn-xs" disabled="@store.IsActive">
          activate
        </button>
        <button formaction="~/Home/InactivateStore/@store.Id"
                type="submit" class="btn btn-danger btn-xs" disabled="@(!store.IsActive)">
          Inactivate
        </button>
      </form>
    </text>

  }
</div>

